/* Start of Global CSS */
* {
  box-sizing: border-box;
}
/* End of Global CSS */

/* Start of Global CSS */
body {
  background-image: url(main-background.jpg);
  background-repeat: no-repeat;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End of Global CSS */

header {
  display: block;
  height: 220px;
}
h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 1em;
  height: 100%;
}
nav a {
  text-align: center;
  text-decoration: none;
  padding: 1em;
  margin-bottom: 1em;
}
nav a:link {
  color: black;
}
nav a:visited {
  color: black;
}
nav a:hover {
  color: black;
}
nav ul {
  list-style-type: none;
  padding-left: 0px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
}
main {
  display: block;
  padding: 1em;
  margin: 1em;
}

/* Start of Footer CSS */
footer {
  display: block;
  color: black;
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
}
footer a {
  display: block;
  color: black;
  text-decoration: none;
}
/* End of Footer CSS */

/* Start of Table CSS */
table {
  width: 25%;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 1em;
  border: 2px solid #a2b2c8;
  border-collapse: collapse;
}
td, th {
  padding: 10px;
}
caption {
  font-weight: bold;
  font-size: 100%;
  margin: 1em;
}
/* End of Table CSS */

/* Start of Form CSS for Location Page */
form {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 400px;
  padding: 10px;
}
label {
  text-align: right; 
  float: left;
  clear: left;
  width: 150px;
  margin-top: 10px;
  padding-right: 10px;   
}
input,
textarea {
  display: block;
  width: 250px;
  margin-top: 10px;
}
#mySubmit {
  width: 100px;
  margin-left: 150px;
}
/* End of Form CSS for Location Page */

/* #49C5B1 - Seafoam */
/* #a2b2c8 - Light Blue */
/* #384967 - Medium Blue */
/* #202A44 - Dark Blue */
