body {
  background-color: #3f2860;
  color: #3f2860;
  font-family: Verdana, Arial, sans-serif;
}
header {
  background-color: #9bc1c2;
  background-image: url(lilyheader.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 150px;
}
h1 {
  padding-top: 50px;
  padding-left: 2em;
}
nav {
  text-align: center;
  font-weight: bold;
  padding: 1em;
}
nav a {
  text-decoration: none;
}
.studio {
  font-style: italic;
}
main {
  padding-left: 2em;
  padding-right: 2em;
}
img {
  padding-left: 1em;
  padding-right: 1em;
}
#hero {
    text-align: center;
}
footer {
  background-color: #9bc1c2;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}
#wrapper {
  background-color: #f5f5f5;
  min-width: 1000px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
