* {
  box-sizing: border-box;
}
body {
  background-color: #3f2860;
  color: #3f2860;
  font-family: Verdana, Arial, sans-serif;
}
header {
  display: block;
  background-color: #9bc1c2;
  background-image: url(lilyheader.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 150px;
}
h1 {
  padding-top: 50px;
  padding-left: 2em;
}
nav {
  display: block;
  font-weight: bold;
  padding: 1em;
  float: left;
  width: 160px;
}
nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-style: outset;
  border-color: #cccccc;
  padding: 1em;
  margin-bottom: 1em;
}
nav a:link {
  color: 3f2860;
}
nav a:visited {
  color: 497777;
}
nav a:hover {
  color: #a26100;
  border: 3px inset #333333;
}
nav ul {
  list-style-type: none;
  padding-left: 0px;
}
.studio {
  font-style: italic;
}
main {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  margin-left: 170px;
}
.floatleft {
  float: left;
  margin-right: 4em;
}
.clear {
  clear: both;
}
footer {
  display: block;
  background-color: #9bc1c2;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}
#wrapper {
  background-color: #f5f5f5;
  min-width: 1200px;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
